<%= form_with(model: youtuber, local: true) do |form| %>
  <% if youtuber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(youtuber.errors.count, "error") %> prohibited this youtuber from being saved:</h2>

      <ul>
        <% youtuber.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
